<IfModule mod_rewrite.c>
	RewriteEngine on
	
	RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
	RewriteRule ^ /%1 [NC,L,R]

	RewriteCond %{REQUEST_FILENAME}.php -f
	RewriteRule ^(.*)$ $1.php  [NC,L]
</IfModule>